@media only screen and (min-width: 1001px) {
*{
    margin:0;
    padding:0;
}
html, body{

    padding: 0;
    border: 0;
    height: 100%;
    text-align: center;
}
body{
    background-image: url('back.jpg');
    background-size: cover;
    position: relative;
    height: 100%;
}
header{
    text-align: center;

}
header h1{
    font-size: 50px;
}
.sidebar{
    position: relative;
    margin-left: 0;
    width: 20%;
    font-size: small;
    height: 100%;
    display: inline-block;
    float:left ;
}
.sidebar2{
    font-size: small;
    position: relative;
    margin-left: 0;
    width: 20%;
    height: 100%;
    display: inline-block;
    float:right ;
}

#details{
    border-bottom: 1px solid black;
    font-size: 20px;

}
#details2{
    border-bottom: 1px solid black;
    font-size: 20px;
}
#details:hover{
    background-color: #c3e8e2;
    opacity: 0.5;
}
#details2:hover{
    background-color:#fdc6c6;
    opacity: 0.5;
}

.picks{
    margin-top: 20px;
    padding-left: 12px;
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}


.pick{
    height: 110px;
    width: 110px;
    border: 3px solid black;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.pick p{
    margin-top: 20px;
}

img{
    width: 50px;
    height: 70px;
    margin-top: 30px;
}


.scoreboard{
    text-align: center;
    font-size: 100px;
}

.results{
    font-size: 100px;
}




/*details*/
.rock-details p{
    color:green;
}
.fire-details p{
    color:red;
}
.scissors-details p{
    color:grey;
}
.human-details p{
    color:black;
}
.wolf-details p{
    color:brown;
}
.sponge-details p{
    color:orange;
}
.paper-details p{
    color:white;
}
.air-details p{
    color:pink;
}
.water-details p{
    color:blue;
}
.devil-details p{
    color:purple;
}
.gun-details p{
    color:yellow;
}
#rock:hover, #wolf:hover, #sponge:hover, #fire:hover, #scissors:hover,#water:hover, #human:hover, #gun:hover,#devil:hover,#air:hover,#paper:hover{
    opacity: 0.6;
}

#rock:hover{
    background-image: url("gifs/rock.gif");
    background-size:cover;
}
#wolf:hover{
    background-image: url("gifs/wolf.gif");
    background-size:cover;
}
#sponge:hover{
    background-image: url("gifs/sponge.gif");
    background-size:cover;
}
#fire:hover{
    background-image: url("gifs/fire.gif");
    background-size:cover;
}
#scissors:hover{
    background-image: url("gifs/scissors.gif");
    background-size:cover;
}
#human:hover{
    background-image: url("gifs/human.gif");
    background-size:cover;
}
#water:hover{
    background-image: url("gifs/water.gif");
    background-size:cover;
}
#gun:hover{
    background-image: url("gifs/gun.gif");
    background-size:cover;
}
#devil:hover{
    background-image: url("gifs/devil.gif");
    background-size:cover;
}
#air:hover{
    background-image: url("gifs/air.gif");
    background-size:cover;
}
#paper:hover{
    background-image: url("gifs/paper.gif");
    background-size:cover;
}
#action{
    background-image: url("gifs/think.gif");
    background-size: cover;
    text-align: center;
}
#action p{
    background-color: white;
    width: 80px;
    margin-left: 32px;
    margin-top: 60px;
}
.actionwin{ 
    background-image: url("happy.gif");
    background-size: cover;
}
.actionloose{
    background-image: url("winning.jpg");
    background-size: cover;
    background-position: -2vmax;
}

.winner{
    border:3px solid greenyellow;
    opacity: 0.5;
    transition: 0.3s all ease;
    overflow: hidden;
}
.looser{
    border:3px solid red;
    opacity: 0.5;
    transition: 0.3s all ease;
}
.draw{
    border:3px solid grey;
    opacity: 0.5;
    transition: 0.3s all ease;
}

}






/*PHONE????*/
@media only screen and 
(min-width: 600px) and
(max-width: 1000px) {
    *{
        margin:0;
        padding:0;
    }
    html, body{
    
        padding: 0;
        border: 0;
        height: 100vh;
        text-align: center;
    }
    .sidebar,.sidebar2{display: none;}
    body{
        background-image: url('back.jpg');
        background-size: cover;
        position: relative;
        height: 100vh;
    }
    header{
        text-align: center;
        font-size: small;
    
    }
    header h1{
        font-size: 20px;
    }

    
  

    
    .picks{
        margin-top: 20px;
        padding-left: 12px;
        position: relative;
        justify-content: center;
        display: grid;
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: 50px 50px;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    
    
    .pick{
        height: 80px;
        width: 80px;
        border: 3px solid black;
        border-radius: 50%;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        
    }
    
    img{
        width: 25px;
        height: 25px;
        margin-top: 10px;
    }
    
    
    .scoreboard{
        text-align: center;
        font-size: 50px;
    }
    
    .results{
        font-size: 20px;
    }
    
    
    #rock:hover, #wolf:hover, #sponge:hover, #fire:hover, #scissors:hover,#water:hover, #human:hover, #gun:hover,#devil:hover,#air:hover,#paper:hover{
        opacity: 0.6;
    }
    
    #rock:hover{
        background-image: url("gifs/rock.gif");
        background-size:cover;
    }
    #wolf:hover{
        background-image: url("gifs/wolf.gif");
        background-size:cover;
    }
    #sponge:hover{
        background-image: url("gifs/sponge.gif");
        background-size:cover;
    }
    #fire:hover{
        background-image: url("gifs/fire.gif");
        background-size:cover;
    }
    #scissors:hover{
        background-image: url("gifs/scissors.gif");
        background-size:cover;
    }
    #human:hover{
        background-image: url("gifs/human.gif");
        background-size:cover;
    }
    #water:hover{
        background-image: url("gifs/water.gif");
        background-size:cover;
    }
    #gun:hover{
        background-image: url("gifs/gun.gif");
        background-size:cover;
    }
    #devil:hover{
        background-image: url("gifs/devil.gif");
        background-size:cover;
    }
    #air:hover{
        background-image: url("gifs/air.gif");
        background-size:cover;
    }
    #paper:hover{
        background-image: url("gifs/paper.gif");
        background-size:cover;
    }
    #action{
        background-image: url("gifs/think.gif");
        background-size: cover;
        text-align: center;
    }
    #action p{
        background-color: white;
        width: 80px;
        margin-left: 32px;
        margin-top: 60px;
    }
    .actionwin{ 
        background-image: url("happy.gif");
        background-size: cover;
    }
    .actionloose{
        background-image: url("winning.jpg");
        background-size: cover;
        background-position: -2vmax;
    }
    
    .winner{
        border:3px solid greenyellow;
        opacity: 0.5;
        transition: 0.3s all ease;
        overflow: hidden;
    }
    .looser{
        border:3px solid red;
        opacity: 0.5;
        transition: 0.3s all ease;
    }
    .draw{
        border:3px solid grey;
        opacity: 0.5;
        transition: 0.3s all ease;
    }


  }
